.bg-box {
    width: 1000px;
    height: 550px;
    background-color: green;
    background-image: url(../img/house.webp), url(../img/lamp.png), url(../img/hedgehog.jpeg), url(../img/donut.png), url(../img/grass.png);
    background-repeat: no-repeat, repeat-x, repeat-y, repeat-y, repeat-x;
    background-position: center, top, left, right, bottom;
}